<div class="row p-5">
    <div class="col-md-12">
        <ul class="list">
            <li class="">
                <a routerLink="fromEvent">FromEvent</a>
            </li>
            <li class="">
                <a routerLink="interval-timer">Interval Timer</a>
            </li>
            <li class="">
                <a routerLink="of-from">Of-From</a>
            </li>
            <li class="">
                <a routerLink="to-array">toArray</a>
            </li>
            <li class="">
                <a routerLink="custom-observables">Custom Observables</a>
            </li>
            <li class="">
                <a routerLink="map-function">Map Function</a>
            </li>
            <li class="">
                <a routerLink="pluck">Pluck Operator</a>
            </li>
            <li class="">
                <a routerLink="filter">Filter Operator</a>
            </li>
            <li class="">
                <a routerLink="tap">Tap Operator</a>
            </li>
            <li class="">
                <a routerLink="take">Take Operator</a>
            </li>
            <li class="">
                <a routerLink="retry">Retry Operator</a>
            </li>
            <li class="">
                <a routerLink="debouncetime">DebounceTime Operator</a>
            </li>
            <li class="">
                <a routerLink="subject">Subject and behaviourSubject Operator</a>
            </li>
            <li class="">
                <a routerLink="replaysubject">Replay Subject</a>
            </li>
            <li class="">
                <a routerLink="async-subject">Async Subject</a>
            </li>
            <li class="">
                <a routerLink="concat-merge">Concat-Merge Operator</a>
            </li>
            <li class="">
                <a routerLink="mergeMap">MergeMap Operator</a>
            </li>
            <li class="">
                <a routerLink="concatMap">ConcatMap Operator</a>
            </li>
            <li class="">
                <a routerLink="concatMap-notification">ConcatMap Mobile Notification Operator</a>
            </li>
            <li class="">
                <a routerLink="switchMap">SwitchMap Operator</a>
            </li>
            <li class="">
                <a routerLink="exhaustMap">ExhaustMap Operator</a>
            </li>
            <li class="">
                <a routerLink="share-replay">Share Replay Operator</a>
            </li>
            <li class="">
                <a routerLink="zip-forkjoin">Zip and Forkjoin Operator</a>
            </li>
        </ul>
    </div>
</div>