<div class="row p-5">
    <div class="col-md-12">
        <ul class="list">
            <li class="">
                <a routerLink="fromEvent">FromEvent</a>
            </li>
            <li class="">
                <a routerLink="interval-timer">Interval Timer</a>
            </li>
            <li class="">
                <a routerLink="of-from">Of-From</a>
            </li>
            <li class="">
                <a routerLink="to-array">toArray</a>
            </li>
            <li class="">
                <a routerLink="custom-observables">Custom Observables</a>
            </li>
            <li class="">
                <a routerLink="map-function">Map Function</a>
            </li>
        </ul>
    </div>
</div>