<div class="p-3">
    <h3>Take Operator</h3>
    <div class="row ">
        <div class="col-md-4">
            <strong class="">Ex-01</strong>
            <hr>
            <p class="bg-light border rounded py-2 px-3">
                <strong class="">Take : </strong>take(5)
            </p>
           <ul class="" id="elContainer1"></ul>
        </div>
        <div class="col-md-4">
            <strong class="">Ex-02</strong>
            <hr>
            <p class="bg-light border rounded py-2 px-3">
                <strong class="">Take : </strong>takeLast(5)
            </p>
            <ul class="" id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong class="">Ex-03</strong>
            <hr>
            <p class="bg-light border rounded py-2 px-3">
                <strong class="">Take : </strong>takeUntil
            </p>
            <ul class="" id="elContainer3"></ul>
        </div>
    </div>
</div>