<div class="row px-5 py-3">
    <h3 class="">Of-From</h3>
    <strong>Ex-01 With Of</strong>
    <hr>
    <!-- with stream -->
    <div class="col-md-6">
        <p class="border rounded bg-light">
            <strong>Data :</strong>of('Bahvna','Sharma','Dixit')
        </p>
        <hr>
        <ul class="" id="elContainer"></ul>
    </div>
    <!-- with object stream -->
    <div class="col-md-6">
        <p class="border rounded bg-light">
            <strong>Data :</strong>of(&#123;'Bahvna','Sharma','Dixit'&#125;)
        </p>
        <hr>
        <ul class="">
            <li class=""><strong>A :</strong>{{obsMsg.a}}</li>
            <li class=""><strong>B :</strong>{{obsMsg.b}}</li>
            <li class=""><strong>C :</strong>{{obsMsg.c}}</li>
        </ul>
    </div>
</div>

<div class="row px-5 py-3">
    <strong>Ex-02 With From</strong>
    <hr>
    <!-- from array -->
    <div class="col-md-4">
        <p class="border rounded bg-light">
            <strong>Array :</strong>from([hello,world,how,are,you])
        </p>
        <hr>
        <ul class="" id="elContainer2"></ul>
    </div>

    <!-- from promise -->
    <div class="col-md-4">
        <p class="border rounded bg-light">
            <strong>Promise :</strong>from([hello,world,how,are,you])
        </p>
        <hr>
        <ul class="" id="elContainer3"></ul>
    </div>

    <!-- from string -->
    <div class="col-md-4">
        <p class="border rounded bg-light">
            <strong>String :</strong>from([hello,world,how,are,you])
        </p>
        <hr>
        <ul class="" id="elContainer4"></ul>
    </div>
</div>