<div class="p-3">
    <h3>Map Function</h3>
    <div class="row ">
        <div class="col-md-4">
            <strong class="">Ex-01</strong>
            <hr>
            <p class="bg-light border rounded py-2 px-3">
                <strong class="">Map : </strong>
            </p>
        </div>
        <div class="col-md-4">
            <strong class="">Ex-02</strong>
            <hr>
            <p class="bg-light border rounded py-2 px-3">
                <strong class="">Map : </strong>data => data*3
            </p>
        </div>
        <div class="col-md-4">
            <strong class="">Ex-03</strong>
            <hr>
            <p class="bg-light border rounded py-2 px-3">
                <strong class="">Map : </strong>Map Data
            </p>
        </div>
    </div>
</div>