<div class="row p-3">
    <h3 class=""> Share Replay</h3>
    <hr>
</div>
<div class="row p-5">
    <div class="col-md-6">
        <strong class="">Products : <span class="text-warning">Fragrances</span></strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="card" *ngFor="let frag of fragrances |async">
                        <img src="" alt="" class="">
                        <div class="card-body">
                            <small>Id : p2</small>
                            <h5 class="card-title">{{frag.slug}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{frag.name}}</h6>
                            <p class="card-text">ffffffffffff</p>
                            <div class="d-flex align-items-center">
                                <strong>Price : 40000</strong>
                                <a href={{frag.url}} class="btn btn-dark btn-sm ml-auto">Buy Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <strong class="">Products : <span class="text-warning">Furniture</span></strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="card" *ngFor="let furn of furniture|async">
                        <img src="" alt="" class="">
                        <div class="card-body">
                            <small>Id : p2</small>
                            <h5 class="card-title">{{furn.slug}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{furn.name}}</h6>
                            <p class="card-text">ffffffffffff</p>
                            <div class="d-flex align-items-center">
                                <strong>Price : 40000</strong>
                                <a href={{furn.url}} class="btn btn-dark btn-sm ml-auto">Buy Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<strong class=""> All Products</strong>
<hr>
<div class="row">
        <div class="col-md-3 card" *ngFor="let item of allProducts |async">
            <img src="" alt="" class="">
            <div class="card-body">
                <small>Id : p2</small>
                <h5 class="card-title">{{item.slug}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
                <p class="card-text">ffffffffffff</p>
                <div class="d-flex align-items-center">
                    <strong>Price : 40000</strong>
                    <a href={{item.url}} class="btn btn-dark btn-sm ml-auto">Buy Product</a>
                </div>
            </div>
    </div>
</div>