<div class="row p-5">
    <div class="col-md-4">
        <strong>Ex-01  With Promise</strong>
        <hr>
        <button #item1 class="btn btn-primary" (click)="onClick()">Buy Laptop</button>
        <div class="" id="item1">Data</div>
        <hr>
    </div>
    <div class="col-md-4">
        <strong>Ex-02  With Async/Await</strong>
        <hr>
        <button  class="btn btn-primary" (click)="onClick2()">Buy Laptop1</button>
        <div class="" id="item2">Data</div>
        <hr>
    </div>
    <div class="col-md-4">
        <strong>Ex-03  With Fetch Api</strong>
        <hr>
        <button #item1 class="btn btn-primary" (click)="onClick3()">Buy Laptop2</button>
        <div class="" id="item3">Data</div>
        <hr>
    </div>

</div>