<div class="row p-3">
    <h3 class=""> MergeMap</h3>
    <hr>
</div>
<div class="row p-3">
    <div class="col-md-4">
        <strong class="">Source - 01 | Tech Channel(5)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="video-list" id="elContainer">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <strong class="">Source - 02 | Comedy Channel(5)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="video-list" id="elContainer1">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <strong class="">Source - 01 | News Channel(5)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="video-list"id="elContainer2">
                </ul>
            </div>
        </div>
    </div>
</div>