<div class="row p-4">
    <h3>To-Array</h3>
    <div class="col-md-6">
        <strong class="">Ex-01 (to-array)</strong>
        <hr>
        <ul>
            <li class="">{{toArray[0].Name}}</li>
            <li class="">{{toArray[0].Gender}}</li>
            <li class="">{{toArray[0].Education}}</li>
            <li class="">{{toArray[0].Designation}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <strong class="">Ex-02 (with of operator)</strong>
        <hr>
        <div class="">{{arrayData}}</div>
    </div>
</div>