<div class="row p-3">
    <h3 class=""> Share Replay</h3>
    <hr>
</div>
<div class="row p-5" >
    <div class="col-md-3">
        <strong>Names</strong><hr>
        <select name="" id="" class="form-control" #name>
            <option value="{{nameArr}}" class="" *ngFor="let nameArr of nameSource">{{nameArr}}</option>
        </select>
        <br><br>
        <strong>Colors</strong><hr>
            <select name="" id="" class="form-control" #color>
                <option value="{{colorArr}}" class="" *ngFor="let colorArr of colorSource">{{colorArr}}</option>
            </select>
    </div>
    <div class="col-md-9">
        <strong class="">Zip</strong>
        <hr>
        <div class="wrapper" id="elContainer">

        </div>
    </div>
</div>

