<div class="row p-3">
    <h3 class="">Concat and Merge</h3>
    <hr>
</div>
<div class="row p-3">
    <div class="col-md-4">
        <strong class="">Source - 01 | Tech Channel(5)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="video-list">
                    <li class="">Tech Video List : 1,2,3,4,5</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <strong class="">Source - 02 | Comedy Channel(5)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="video-list">
                    <li class="">Comedy Video List : 1,2,3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <strong class="">Source - 01 | News Channel(5)</strong>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="video-list">
                    <li class="">News Video List : 1,2,3,4</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row p-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Your Channel (Subscriber) (Concat)
            </div>
            <div class="card-body">
                <ul class="" id="elContainer1">
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Your Channel (Subscriber) (Merge)
            </div>
            <div class="card-body">
                <ul class="" id="elContainer">
                </ul>
            </div>
        </div>
    </div>
</div>
