<div class="p-3">
    <h3>Subject & BehaviorSubject Operator</h3>
    <!-- <strong class="">Ex-01 DebounceTime</strong> -->
    <hr>
    <h5 class="card-title">Username is <span class="text-primary">{{userName}}</span></h5>
    <hr>
    <div class="row ">
        <div class="col-md-3">
                <app-first-component></app-first-component>
        </div>
        <div class="col-md-3">
              <app-second-component></app-second-component>
        </div>
        <div class="col-md-3">
                <app-third-component></app-third-component>
        </div>
    </div>
</div>